/* Small screens */
@media only screen and (max-width: 600px) {
  .edit-product-container {
    padding: 20px;
    
  }
  h2 {
    font-size: 1.5rem;
    
  }
  .edit-product-container img {
    max-width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
    
  }
  .edit-product-container label {
    font-size: 0.8rem;
    
  }
  .edit-product-container input[type="text"] {
    font-size: 0.8rem;
    padding: 8px;
    margin-bottom: 10px;
    width: 50%;
    box-sizing: border-box;
    
  }
  .edit-product-container button[type="submit"] {
    font-size: 0.8rem;
    padding: 8px 16px;
    
  }
}

/* Large screens */
@media only screen and (min-width: 601px) {
  .edit-product-container {
    margin: 4rem;
    padding: 2rem;
    display:grid;
    justify-content:center;
    align-items:center;
    height: 100vh;
  }
 
  .edit-product-container form {
    display:contents;
    margin: 5rem;
    max-width: 800px;
    padding: 20px;
    border: 1px solid rgb(247, 155, 155);
    border-radius: 40px;
    box-shadow: 0 0 8px rgba(228, 57, 57, 0.1);
  }
  .edit-product-container img {
  
    margin-bottom: 10px;
    object-fit:contain;

  }
  .edit-product-container label {
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .edit-product-container input[type="text"] {
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing:content-box;
  }
  .edit-product-container button[type="submit"] {
    font-size: 1rem;
    padding:15px 20px;
    background-color: #ff1100;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .edit-product-container button[type="submit"]:hover {
    background-color: #d92b00;
  }
}